@{
    ViewData["Title"] = "Ogolne";
}

<div class="row">

    <div class="card" style="width: 170px; height: 170px; margin-left: 75px; margin-top: 30px;">
        @*<img class="card-img-top" src="..." alt="Card image cap">*@
        <i class="bi-book" style="font-size: 35px; margin-left: auto; margin-right: auto; margin-top: 20px"></i>
        <div class="card-body" style="margin-left: auto; margin-right: auto; margin-top: 30px">
            <a class="btn btn-primary" asp-area="" asp-controller="Parametr" asp-action="Index">Ogólne</a>
        </div>
    </div>

    <div class="card" style="width: 170px; height: 170px; margin-left: 75px; margin-top: 30px;">
        @*<img class="card-img-top" src="..." alt="Card image cap">*@
        <i class="bi-telephone-fill" style="font-size: 35px; margin-left: auto; margin-right: auto; margin-top: 20px"></i>
        <div class="card-body" style="margin-left: auto; margin-right: auto; margin-top: 30px">
            <a class="btn btn-primary" asp-area="" asp-controller="Kontakt" asp-action="Index">Kontakt</a>
        </div>
    </div>

    <div class="card" style="width: 170px; height: 170px; margin-left: 75px; margin-top: 30px;">
        @*<img class="card-img-top" src="..." alt="Card image cap">*@
        <i class="bi-clock" style="font-size: 35px; margin-left: auto; margin-right: auto; margin-top: 20px"></i>
        <div class="card-body" style="margin-left: auto; margin-right: auto; margin-top: 30px">
            <a class="btn btn-primary" asp-area="" asp-controller="GodzinyOtwarcia" asp-action="Index">Godziny</a>
        </div>
    </div>

    <div class="card" style="width: 170px; height: 170px; margin-left: 75px; margin-top: 30px;">
        @*<img class="card-img-top" src="..." alt="Card image cap">*@
        <i class="bi-map" style="font-size: 35px; margin-left: auto; margin-right: auto; margin-top: 20px"></i>
        <div class="card-body" style="margin-left: auto; margin-right: auto; margin-top: 30px">
            <a class="btn btn-primary" asp-area="" asp-controller="Adres" asp-action="Index">Addres</a>
        </div>
    </div>

    <div class="card" style="width: 170px; height: 170px; margin-left: 75px; margin-top: 30px;">
        @*<img class="card-img-top" src="..." alt="Card image cap">*@
        <i class="bi-clipboard-minus" style="font-size: 35px; margin-left: auto; margin-right: auto; margin-top: 20px"></i>
        <div class="card-body" style="margin-left: auto; margin-right: auto; margin-top: 30px">
            <a href="#" class="btn btn-primary">About</a>
        </div>
    </div>


    <div class="card" style="width: 170px; height: 170px; margin-left: 75px; margin-top: 30px;">
        @*<img class="card-img-top" src="..." alt="Card image cap">*@
        <i class="bi-card-checklist" style="font-size: 35px; margin-left: auto; margin-right: auto; margin-top: 20px"></i>
        <div class="card-body" style="margin-left: auto; margin-right: auto; margin-top: 30px">
            <a href="#" class="btn btn-primary">Usługi</a>
        </div>
    </div>

    <div class="card" style="width: 170px; height: 170px; margin-left: 75px; margin-top: 30px;">
        @*<img class="card-img-top" src="..." alt="Card image cap">*@
        <i class="bi-door-open" style="font-size: 35px; margin-left: auto; margin-right: auto; margin-top: 20px"></i>
        <div class="card-body" style="margin-left: auto; margin-right: auto; margin-top: 30px">
            <a href="#" class="btn btn-primary">Oddziały</a>
        </div>
    </div>







    @*<div class="col-lg-2 col-md-9 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up" data-aos-delay="100">
                <div class="member-img">
                    <img src="~/assets/img/apple-touch-icon.png" class="img-fluid" alt="">
                </div>
                <div class="member-info">
                    <h4>Parametry ogólne</h4>
                    <a class="btn btn-primary" asp-area="" asp-controller="GeneralParameter" asp-action="Index">Go somewer</a>
                </div>
            </div>
        </div>
            margin:auto; margin-top: 40px;

    *@
</div>

